@import '../_config/mixins.scss';

.bg {
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: repeat;
}

.headings {
  text-align: center;

  @include min-width('lg') {
    text-align: right;
  }
}
