@keyframes bg-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.outer {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.bg {
  background-image: linear-gradient(var(--background1), var(--background2));
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: bg-rotate 6s linear infinite;
  transition: all 0.2s ease-in-out;
  height: 150vmax;
  width: 150vmax;
}

.isOn {
  opacity: 1;
}

.inner {
  margin: 0 auto;
  max-width: 420px;
  padding: 0 20px 10vmin;
  width: 100%;
}

.buttonWrap {
  display: block;
  cursor: pointer;
  width: 100%;
}

.container {
  position: relative;
}

.caption {
  display: none;
}

.frame {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.contentWrap {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  padding-bottom: 31%;
  background: linear-gradient(140deg, #61635f, #777974);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indicator {
  height: 20px;
  position: absolute;
  right: 15%;
  top: 12.5%;
  width: 20px;
}
