html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans-serif);
  color: var(--primary);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset CSS */
input,
select,
textarea,
button {
  font-family: var(--serif);
}

button {
  border: none;
  background: none;
  padding: 0;
}

figure {
  margin: 0;
}
